/* [fs12] {
    font-size: 12px;
}
----------------------------------------------------------------*/

@for $i from 12 through 30 {
  [fs#{$i}] {
    font-size: #{$i}px;
  }
}

/* [font-weight]{
  font-weight: bold;
}

----------------------------------------------------------------*/
[font-weight] {
  font-weight: bold;
}